{% extends 'base.html.twig' %}

{% block title %}Rooms:{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% block header %}
    {{ parent() }}  
    {% endblock %}


<div class="example-wrapper">
 <a href="{{path('app_booking_index')}}">My bookings</a>
    {% if rooms|length == 0 %}
    <p>No room was found yet</p>
    {% endif %}

    <div class="rooms-list">
    
        {% for room in rooms %}
        <div class="room-card">
            <h2>{{ room.name }}</h2>
            <div class="room-info">Price: <b>{{ room.price }}</b></div>
            <div class="room-info">Capacity: {{ room.capacity }}</div>
            <div class="room-info">Rating: {{ room.average_rating }}</div>
            <div class="room-action">
                <form method="POST" action="{{ path('app_booking_new') }}" data-turbo="false">
                    <input name="chosen_room" type="hidden" value="{{ room.id }}">
                    <button type="submit" class="book-btn">Book this room</button>
                </form>
            </div>

        </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_room', {'page': page - 1}) }}">Prev</a>
    <a href="{{ path('app_room', {'page': page + 1}) }}">Next</a>
</div>
{% endblock %}
