{% extends 'base.html.twig' %}
{% block title %}
  New Booking
{% endblock %}

{% block body %}
  {% block header %}
    {{ parent() }}
  {% endblock %}
  <h1>Create new Booking</h1>
  {{ 'Price per night: ' }}<span id="price">{{ price }}</span>
  {{ 'Total price: ' }}<span id="total_price"></span>
  {{ include('booking/_form.html.twig') }}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const startDateInput = document.getElementById('booking_start_date')
      const endDateInput = document.getElementById('booking_end_date')
      const totalPriceInput = document.getElementById('booking_total_price')
      const totalPriceSpan = document.getElementById('total_price')
      const pricePerNightSpan = document.getElementById('price')
    
      function calculatePrice() {
        const startDateValue = startDateInput.value
        const endDateValue = endDateInput.value
    
        if (startDateValue && endDateValue) {
          const diffMs = new Date(endDateValue) - new Date(startDateValue)
          const diffDays = diffMs / (1000 * 60 * 60 * 24)
          const pr = parseFloat(pricePerNightSpan.innerText)
          if (!isNaN(pr) && diffDays > 0) {
            const total = (pr * diffDays).toFixed(2)
            totalPriceInput.value = total
            totalPriceSpan.innerText = total
          } else {
            totalPriceInput.value = ''
            totalPriceSpan.innerText = '0'
          }
        }
      }
      startDateInput.addEventListener('change', calculatePrice)
      endDateInput.addEventListener('change', calculatePrice)
    
      if (startDateInput.value && endDateInput.value) {
        calculatePrice()
      }
    })
  </script>

  <a href="{{ path('app_booking_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
